body{
    margin: 0;
    font-family: 'Open sans', helvetica, arial, sans-serif, serif;
    background-color: #64b5f6;
}

ul {
    list-style: none;
    padding: 0;
}

.nav {
    background-color: #1565c0;
    color: white;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 6px 2px #333;
    height: 4em;
    box-sizing: border-box;
}

.nav-list {
    display: flex;
    margin: 0;
    font-size: 1.2em;
}

.nav-title {
    margin: 0;
}

.nav-item {
    margin: 0 1em;
}

.nav-link {
    color: white;
    text-decoration: none;
}

/* CSS no critico */
body {
    background-color: #f3f3f3;
}

.content {
    background-color: white;
    width: 100%;
    height: calc(100vh - 4.5em);
    margin-top: .5em;
    padding: 1em;
    box-sizing: border-box;
    overflow: hidden
}

.table {
    width: 90vw;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #f4f4f4;
}

.table tr {
    text-align: center;
    border-bottom: 1px solid #6f6f6f;
}

.table th, .table td {
    text-align: center;
    padding: .5em;
}
